{
  "openapi": "3.1.0",
  "info": {
    "title": "ERNIE API",
    "version": "0.3.0",
    "description": "REST API for ERNIE (Earth Research Notary for Information & Editing) - A metadata editor for reviewers of research data at GFZ Helmholtz Centre for Geosciences. This API provides read-only access to metadata types and controlled vocabularies for integration with ELMO and other external systems.",
    "termsOfService": "https://env.rz-vm182.gfz.de/ernie/legal-notice",
    "contact": {
      "name": "Holger Ehrmann",
      "url": "https://www.gfz.de/staff/holger.ehrmann/sec51",
      "email": "ehrmann@gfz.de"
    },
    "license": {
      "name": "GPL-3.0-or-later",
      "identifier": "GPL-3.0-or-later",
      "url": "https://www.gnu.org/licenses/gpl-3.0.html"
    }
  },
  "externalDocs": {
    "description": "ERNIE Project Documentation",
    "url": "https://github.com/McNamara84/ernie"
  },
  "servers": [
    {
      "url": "https://env.rz-vm182.gfz.de/ernie",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Editor Configuration",
      "description": "Endpoints for retrieving metadata types and roles configuration used by external editors like ELMO"
    },
    {
      "name": "Vocabularies",
      "description": "Endpoints for accessing controlled vocabularies from NASA GCMD (Global Change Master Directory)"
    }
  ],
  "paths": {
    "/api/v1/resource-types/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List resource types enabled for ELMO",
        "description": "Returns all resource types that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of resource types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ElmoResourceType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/title-types/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List title types enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of title types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TitleType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all title types that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/licenses/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List licenses enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/License"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all licenses that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/languages/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List languages enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all languages that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/roles/authors/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List author roles active for ELMO",
        "description": "Returns all author roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roles/contributor-persons/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List contributor person roles active for ELMO",
        "description": "Returns all contributor person roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roles/contributor-institutions/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List contributor institution roles active for ELMO",
        "description": "Returns all contributor institution roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vocabularies/gcmd-science-keywords": {
      "get": {
        "tags": [
          "Vocabularies"
        ],
        "summary": "Get GCMD Science Keywords vocabulary",
        "description": "Returns the complete GCMD (Global Change Master Directory) Science Keywords vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "GCMD Science Keywords vocabulary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GcmdScienceKeywords"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Vocabulary file not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Vocabulary file not found. Please run: php artisan get-gcmd-science-keywords"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vocabularies/gcmd-platforms": {
      "get": {
        "tags": [
          "Vocabularies"
        ],
        "summary": "Get GCMD Platforms vocabulary",
        "description": "Returns the complete GCMD (Global Change Master Directory) Platforms vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "GCMD Platforms vocabulary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GcmdPlatforms"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Vocabulary file not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Vocabulary file not found. Please run: php artisan get-gcmd-platforms"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vocabularies/gcmd-instruments": {
      "get": {
        "tags": [
          "Vocabularies"
        ],
        "summary": "Get GCMD Instruments vocabulary",
        "description": "Returns the complete GCMD (Global Change Master Directory) Instruments vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "GCMD Instruments vocabulary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GcmdInstruments"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Vocabulary file not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Vocabulary file not found. Please run: php artisan get-gcmd-instruments"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ElmoApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key required to access ELMO-specific endpoints. Can be provided either in the `X-API-Key` header or as the `api_key` query parameter. Contact the ERNIE team to obtain an API key."
      }
    },
    "schemas": {
      "ElmoResourceType": {
        "type": "object",
        "description": "A resource type configuration for ELMO editor",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true,
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Dataset"
          }
        },
        "required": ["id", "name"]
      },
      "Role": {
        "type": "object",
        "description": "A role that can be assigned to authors or contributors",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true,
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Project Leader"
          },
          "slug": {
            "type": "string",
            "example": "project-leader"
          }
        },
        "required": ["id", "name", "slug"]
      },
      "TitleType": {
        "type": "object",
        "description": "A title type for categorizing resource titles",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true,
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Main Title"
          },
          "slug": {
            "type": "string",
            "example": "main-title"
          }
        },
        "required": ["id", "name", "slug"]
      },
      "License": {
        "type": "object",
        "description": "A license that can be applied to research data",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true,
            "example": 1
          },
          "identifier": {
            "type": "string",
            "description": "SPDX license identifier",
            "example": "CC-BY-4.0"
          },
          "name": {
            "type": "string",
            "example": "Creative Commons Attribution 4.0 International"
          }
        },
        "required": ["id", "identifier", "name"]
      },
      "Language": {
        "type": "object",
        "description": "A language supported for dataset metadata",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true,
            "example": 1
          },
          "code": {
            "type": "string",
            "description": "ISO 639-1 language code",
            "example": "en"
          },
          "name": {
            "type": "string",
            "example": "English"
          }
        },
        "required": ["id", "code", "name"]
      },
      "GcmdScienceKeywords": {
        "type": "object",
        "description": "GCMD Science Keywords from NASA Knowledge Management System",
        "properties": {
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the vocabulary was last updated",
            "example": "2025-10-08 11:54:31"
          },
          "data": {
            "type": "array",
            "description": "Hierarchical array of GCMD Science Keywords",
            "items": {
              "$ref": "#/components/schemas/GcmdKeywordConcept"
            }
          }
        }
      },
      "GcmdPlatforms": {
        "type": "object",
        "description": "GCMD Platforms from NASA Knowledge Management System",
        "properties": {
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the vocabulary was last updated",
            "example": "2025-10-08 12:13:45"
          },
          "data": {
            "type": "array",
            "description": "Hierarchical array of GCMD Platforms",
            "items": {
              "$ref": "#/components/schemas/GcmdKeywordConcept"
            }
          }
        }
      },
      "GcmdInstruments": {
        "type": "object",
        "description": "GCMD Instruments from NASA Knowledge Management System",
        "properties": {
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the vocabulary was last updated",
            "example": "2025-10-08 12:22:38"
          },
          "data": {
            "type": "array",
            "description": "Hierarchical array of GCMD Instruments",
            "items": {
              "$ref": "#/components/schemas/GcmdKeywordConcept"
            }
          }
        }
      },
      "GcmdKeywordConcept": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uri",
            "description": "Unique identifier (URI) for the concept",
            "example": "https://gcmd.earthdata.nasa.gov/kms/concept/1eb0ea0a-312c-4d74-8d42-6f1ad758f999"
          },
          "text": {
            "type": "string",
            "description": "Preferred label for the concept",
            "example": "EARTH SCIENCE"
          },
          "language": {
            "type": "string",
            "description": "Language code of the concept label",
            "example": "en"
          },
          "scheme": {
            "type": "string",
            "description": "Name of the vocabulary scheme",
            "example": "NASA/GCMD Earth Science Keywords"
          },
          "schemeURI": {
            "type": "string",
            "format": "uri",
            "description": "URI of the vocabulary scheme",
            "example": "https://gcmd.earthdata.nasa.gov/kms/concepts/concept_scheme/sciencekeywords"
          },
          "description": {
            "type": "string",
            "description": "Definition or description of the concept",
            "example": "any of various sciences, as geography, geology, or meteorology, that deal with the earth, its composition, or any of its changing aspects."
          },
          "children": {
            "type": "array",
            "description": "Child concepts in the hierarchy",
            "items": {
              "$ref": "#/components/schemas/GcmdKeywordConcept"
            }
          }
        },
        "required": ["id", "text", "language", "scheme", "schemeURI", "description", "children"]
      }
    }
  }
}
