{
    "openapi": "3.1.0",
    "info": {
        "title": "ERNIE API",
        "version": "0.3.0",
        "description": "REST API for ERNIE (Earth Research Notary for Information Editing) - A metadata editor for reviewers of research data at GFZ Helmholtz Centre for Geosciences. This API provides read-only access to metadata types and controlled vocabularies for integration with ELMO and other external systems.",
        "termsOfService": "https://ernie.rz-vm182.gfz.de/legal-notice",
        "contact": {
            "name": "Holger Ehrmann",
            "url": "https://www.gfz.de/staff/holger.ehrmann/sec51",
            "email": "ehrmann@gfz.de"
        },
        "license": {
            "name": "GPL-3.0-or-later",
            "identifier": "GPL-3.0-or-later",
            "url": "https://www.gnu.org/licenses/gpl-3.0.html"
        }
    },
    "externalDocs": {
        "description": "ERNIE Project Documentation",
        "url": "https://github.com/McNamara84/ernie"
    },
    "servers": [
        {
            "url": "https://ernie.rz-vm182.gfz.de",
            "description": "Production server"
        }
    ],
    "tags": [
        {
            "name": "Editor Configuration",
            "description": "Endpoints for retrieving metadata types and roles configuration used by external editors like ELMO"
        },
        {
            "name": "Vocabularies",
            "description": "Endpoints for accessing controlled vocabularies from NASA GCMD (Global Change Master Directory), PID registries (b2inst), and ROR (Research Organization Registry)"
        }
    ],
    "paths": {
        "/api/v1/resource-types/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List resource types enabled for ELMO",
                "description": "Returns all resource types that are enabled for ELMO. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of resource types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ElmoResourceType"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/title-types/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List title types enabled for ELMO",
                "responses": {
                    "200": {
                        "description": "List of title types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TitleType"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                },
                "description": "Returns all title types that are enabled for ELMO. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ]
            }
        },
        "/api/v1/licenses/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List licenses enabled for ELMO",
                "responses": {
                    "200": {
                        "description": "List of licenses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/License"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                },
                "description": "Returns all licenses that are enabled for ELMO. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ]
            }
        },
        "/api/v1/licenses/elmo/{resourceTypeSlug}": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List licenses enabled for ELMO filtered by resource type",
                "description": "Returns all licenses that are enabled for ELMO and available for the specified resource type. Licenses that have the resource type in their exclusion list will not be returned. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "parameters": [
                    {
                        "name": "resourceTypeSlug",
                        "in": "path",
                        "required": true,
                        "description": "The slug of the resource type (e.g., 'software', 'dataset', 'book-chapter')",
                        "schema": {
                            "type": "string",
                            "example": "software"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of licenses available for the resource type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/License"
                                    }
                                },
                                "example": [
                                    {
                                        "id": 1,
                                        "identifier": "MIT",
                                        "name": "MIT License"
                                    },
                                    {
                                        "id": 2,
                                        "identifier": "GPL-3.0-or-later",
                                        "name": "GNU General Public License v3.0 or later"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Resource type not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Resource type not found."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/date-types/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List date types enabled for ELMO",
                "description": "Returns all date types that are enabled for ELMO. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of date types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DateType"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/description-types": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List all description types",
                "description": "Returns all description types defined in the system, regardless of their activation status. No authentication required.",
                "responses": {
                    "200": {
                        "description": "List of all description types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DescriptionType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/description-types/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List description types enabled for ELMO",
                "description": "Returns all description types that are enabled for ELMO (both `is_active` and `is_elmo_active` must be true). Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of description types enabled for ELMO",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DescriptionType"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/description-types/ernie": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List description types enabled for ERNIE",
                "description": "Returns all description types that are active for the ERNIE editor. No authentication required.",
                "responses": {
                    "200": {
                        "description": "List of active description types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DescriptionType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/languages/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List languages enabled for ELMO",
                "responses": {
                    "200": {
                        "description": "List of languages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Language"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                },
                "description": "Returns all languages that are enabled for ELMO. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ]
            }
        },
        "/api/v1/roles/authors/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List author roles active for ELMO",
                "description": "Returns all author roles that are active for ELMO. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of roles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Role"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/roles/contributor-persons/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List contributor person roles active for ELMO",
                "description": "Returns all contributor person roles that are active for ELMO. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of roles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Role"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/roles/contributor-institutions/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List contributor institution roles active for ELMO",
                "description": "Returns all contributor institution roles that are active for ELMO. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of roles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Role"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/relation-types": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List all relation types",
                "description": "Returns all DataCite relation types defined in the system, regardless of their activation status. No authentication required.",
                "responses": {
                    "200": {
                        "description": "List of all relation types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RelationType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/relation-types/ernie": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List relation types enabled for ERNIE",
                "description": "Returns all relation types that are active for the ERNIE editor (`is_active` is true). No authentication required.",
                "responses": {
                    "200": {
                        "description": "List of active relation types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RelationType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/relation-types/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List relation types enabled for ELMO",
                "description": "Returns all relation types that are enabled for ELMO (both `is_active` and `is_elmo_active` must be true). Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of relation types enabled for ELMO",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RelationType"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/identifier-types": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List all identifier types with patterns",
                "description": "Returns all DataCite identifier types defined in the system with their active validation and detection regex patterns. Only patterns that are currently active are included. No authentication required.",
                "responses": {
                    "200": {
                        "description": "List of all identifier types with active patterns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IdentifierType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/identifier-types/ernie": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List identifier types enabled for ERNIE",
                "description": "Returns all identifier types that are active for the ERNIE editor (`is_active` is true) with their active patterns. No authentication required.",
                "responses": {
                    "200": {
                        "description": "List of active identifier types with active patterns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IdentifierType"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/identifier-types/elmo": {
            "get": {
                "tags": ["Editor Configuration"],
                "summary": "List identifier types enabled for ELMO",
                "description": "Returns all identifier types that are enabled for ELMO (both `is_active` and `is_elmo_active` must be true) with their active validation and detection regex patterns. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of identifier types enabled for ELMO with patterns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IdentifierType"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/vocabularies/gcmd-science-keywords": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Get GCMD Science Keywords vocabulary",
                "description": "Returns the complete GCMD (Global Change Master Directory) Science Keywords vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GCMD Science Keywords vocabulary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GcmdScienceKeywords"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Vocabulary file not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Vocabulary file not found. Please run: php artisan get-gcmd-science-keywords"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vocabularies/gcmd-platforms": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Get GCMD Platforms vocabulary",
                "description": "Returns the complete GCMD (Global Change Master Directory) Platforms vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GCMD Platforms vocabulary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GcmdPlatforms"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Vocabulary file not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Vocabulary file not found. Please run: php artisan get-gcmd-platforms"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vocabularies/gcmd-instruments": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Get GCMD Instruments vocabulary",
                "description": "Returns the complete GCMD (Global Change Master Directory) Instruments vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GCMD Instruments vocabulary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GcmdInstruments"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Vocabulary file not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Vocabulary file not found. Please run: php artisan get-gcmd-instruments"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vocabularies/chronostrat-timescale": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Get ICS Chronostratigraphic Timescale vocabulary",
                "description": "Returns the International Chronostratigraphic Chart (ICS) as a hierarchical JSON structure. The vocabulary is loaded from the ARDC (Australian Research Data Commons) Linked Data API and contains geologic time intervals (eons, eras, periods, epochs, ages). Boundary and GSSP concepts are filtered out. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ICS Chronostratigraphic Timescale vocabulary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChronostratTimescale"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Thesaurus is disabled or vocabulary file not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Vocabulary file not found. Please run: php artisan get-chronostrat-timescale"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vocabularies/gemet": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Get GEMET Thesaurus vocabulary",
                "description": "Returns the GEMET (GEneral Multilingual Environmental Thesaurus) as a hierarchical JSON structure. The vocabulary is loaded from the EIONET GEMET REST API and contains environmental concepts organized in SuperGroups, Groups, and Concepts. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GEMET Thesaurus vocabulary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GemetThesaurus"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Thesaurus is disabled or vocabulary file not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Vocabulary file not found. Please run: php artisan get-gemet-thesaurus"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vocabularies/analytical-methods": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Get Analytical Methods for Geochemistry vocabulary",
                "description": "Returns the 'Analytical Methods for Geochemistry and Cosmochemistry' vocabulary as a hierarchical JSON structure. The vocabulary is loaded from the ARDC (Australian Research Data Commons) Linked Data API and contains analytical methods (e.g., Mass Spectrometry, ICP-MS) with notation codes and definitions. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analytical Methods vocabulary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticalMethodsVocabulary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Thesaurus is disabled or vocabulary file not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Vocabulary file not found. Please run: php artisan get-analytical-methods"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vocabularies/pid4inst-instruments": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Get PID4INST instruments vocabulary",
                "description": "Returns the complete PID4INST instruments vocabulary from b2inst (EUDAT instrument registry). Each instrument includes a persistent identifier (Handle PID), name, description, and additional metadata such as owners, manufacturers, instrument types, and measured variables. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PID4INST instruments vocabulary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pid4instInstruments"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "PID4INST is disabled or vocabulary file not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "PID4INST is disabled"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vocabularies/thesauri-availability": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Check thesauri availability",
                "description": "Returns the availability status of all configured thesauri (e.g., GCMD Science Keywords, GCMD Platforms, GCMD Instruments, ICS Chronostratigraphic Chart). This endpoint does not require authentication and is intended for frontend configuration checks.",
                "responses": {
                    "200": {
                        "description": "Thesauri availability status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ThesauriAvailability"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vocabularies/pid-availability": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Check PID registry availability",
                "description": "Returns the availability status of all configured PID registries (e.g., PID4INST, ROR). This endpoint does not require authentication and is intended for frontend configuration checks.",
                "responses": {
                    "200": {
                        "description": "PID registry availability status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PidAvailability"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/ror-affiliations/elmo": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Get ROR affiliations for ELMO",
                "description": "Returns the complete ROR (Research Organization Registry) data with metadata wrapper including total count and last update timestamp. Each entry includes the preferred label, ROR ID, and alternative labels/search terms. Provide the API key via the `X-API-Key` header.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ROR affiliations with metadata wrapper",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RorAffiliations"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "ROR is disabled or data file not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "ROR is disabled"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/elmo/vocabularies/thesauri-availability": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Check thesauri availability for ELMO",
                "description": "Returns the availability status of all configured thesauri from the ELMO perspective (uses `is_elmo_active` flag). Requires API key authentication. For unauthenticated frontend checks, use `/api/v1/vocabularies/thesauri-availability` instead.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thesauri availability status for ELMO",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ThesauriAvailability"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/api/v1/elmo/vocabularies/pid-availability": {
            "get": {
                "tags": ["Vocabularies"],
                "summary": "Check PID registry availability for ELMO",
                "description": "Returns the availability status of all configured PID registries from the ELMO perspective (uses `is_elmo_active` flag). Requires API key authentication. For unauthenticated frontend checks, use `/api/v1/vocabularies/pid-availability` instead.",
                "security": [
                    {
                        "ElmoApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PID registry availability status for ELMO",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PidAvailability"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ElmoApiKey": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API key required to access ELMO-specific endpoints. Must be provided in the `X-API-Key` header. Query parameter authentication is not supported for security reasons. Contact the ERNIE team to obtain an API key."
            }
        },
        "responses": {
            "UnauthorizedError": {
                "description": "Authentication failed. Either the API key is invalid/missing, or the server has no API key configured.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error message describing the authentication failure",
                                    "enum": ["Invalid API key.", "API key not configured."]
                                }
                            },
                            "required": ["message"]
                        },
                        "examples": {
                            "invalidKey": {
                                "summary": "Invalid or missing API key",
                                "value": {
                                    "message": "Invalid API key."
                                }
                            },
                            "notConfigured": {
                                "summary": "API key not configured on server",
                                "value": {
                                    "message": "API key not configured."
                                }
                            }
                        }
                    }
                }
            }
        },
        "schemas": {
            "ElmoResourceType": {
                "type": "object",
                "description": "A resource type configuration for ELMO editor",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Dataset"
                    },
                    "description": {
                        "type": ["string", "null"],
                        "description": "Official DataCite description for this resource type",
                        "example": "Data encoded in a defined structure."
                    }
                },
                "required": ["id", "name"]
            },
            "Role": {
                "type": "object",
                "description": "A role that can be assigned to authors or contributors",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Project Leader"
                    },
                    "slug": {
                        "type": "string",
                        "example": "project-leader"
                    }
                },
                "required": ["id", "name", "slug"]
            },
            "TitleType": {
                "type": "object",
                "description": "A title type for categorizing resource titles",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Main Title"
                    },
                    "slug": {
                        "type": "string",
                        "example": "main-title"
                    }
                },
                "required": ["id", "name", "slug"]
            },
            "DateType": {
                "type": "object",
                "description": "A date type for categorizing resource dates according to DataCite schema",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Accepted"
                    },
                    "slug": {
                        "type": "string",
                        "example": "accepted"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true,
                        "example": "The date that the publisher accepted the resource into their system."
                    }
                },
                "required": ["id", "name", "slug", "description"]
            },
            "DescriptionType": {
                "type": "object",
                "description": "A description type for categorizing resource descriptions according to DataCite schema 4.7",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Abstract"
                    },
                    "slug": {
                        "type": "string",
                        "example": "Abstract"
                    }
                },
                "required": ["id", "name", "slug"]
            },
            "License": {
                "type": "object",
                "description": "A license that can be applied to research data",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "identifier": {
                        "type": "string",
                        "description": "SPDX license identifier",
                        "example": "CC-BY-4.0"
                    },
                    "name": {
                        "type": "string",
                        "example": "Creative Commons Attribution 4.0 International"
                    }
                },
                "required": ["id", "identifier", "name"]
            },
            "Language": {
                "type": "object",
                "description": "A language supported for dataset metadata",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "code": {
                        "type": "string",
                        "description": "ISO 639-1 language code",
                        "example": "en"
                    },
                    "name": {
                        "type": "string",
                        "example": "English"
                    }
                },
                "required": ["id", "code", "name"]
            },
            "GcmdScienceKeywords": {
                "type": "object",
                "description": "GCMD Science Keywords from NASA Knowledge Management System",
                "properties": {
                    "lastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the vocabulary was last updated",
                        "example": "2025-10-08T11:54:31Z"
                    },
                    "data": {
                        "type": "array",
                        "description": "Hierarchical array of GCMD Science Keywords",
                        "items": {
                            "$ref": "#/components/schemas/GcmdKeywordConcept"
                        }
                    }
                }
            },
            "GcmdPlatforms": {
                "type": "object",
                "description": "GCMD Platforms from NASA Knowledge Management System",
                "properties": {
                    "lastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the vocabulary was last updated",
                        "example": "2025-10-08T12:13:45Z"
                    },
                    "data": {
                        "type": "array",
                        "description": "Hierarchical array of GCMD Platforms",
                        "items": {
                            "$ref": "#/components/schemas/GcmdKeywordConcept"
                        }
                    }
                }
            },
            "GcmdInstruments": {
                "type": "object",
                "description": "GCMD Instruments from NASA Knowledge Management System",
                "properties": {
                    "lastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the vocabulary was last updated",
                        "example": "2025-10-08T12:22:38Z"
                    },
                    "data": {
                        "type": "array",
                        "description": "Hierarchical array of GCMD Instruments",
                        "items": {
                            "$ref": "#/components/schemas/GcmdKeywordConcept"
                        }
                    }
                }
            },
            "ChronostratTimescale": {
                "type": "object",
                "description": "ICS Chronostratigraphic Timescale from ARDC Linked Data API (International Chronostratigraphic Chart / Geologic Time Scale 2020)",
                "properties": {
                    "lastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the vocabulary was last updated",
                        "example": "2025-12-15T09:30:00Z"
                    },
                    "data": {
                        "type": "array",
                        "description": "Hierarchical array of chronostratigraphic intervals (Eons → Eras → Periods → Epochs → Ages)",
                        "items": {
                            "$ref": "#/components/schemas/GcmdKeywordConcept"
                        }
                    }
                }
            },
            "GemetThesaurus": {
                "type": "object",
                "description": "GEMET (GEneral Multilingual Environmental Thesaurus) from the EIONET REST API",
                "properties": {
                    "lastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the vocabulary was last updated",
                        "example": "2026-03-12T10:00:00Z"
                    },
                    "data": {
                        "type": "array",
                        "description": "Hierarchical array of GEMET concepts (SuperGroups → Groups → Concepts)",
                        "items": {
                            "$ref": "#/components/schemas/GcmdKeywordConcept"
                        }
                    }
                }
            },
            "AnalyticalMethodsVocabulary": {
                "type": "object",
                "description": "Analytical Methods for Geochemistry and Cosmochemistry vocabulary from the ARDC Linked Data API (EarthChem/GEOROC)",
                "properties": {
                    "lastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the vocabulary was last updated",
                        "example": "2026-04-15T12:00:00Z"
                    },
                    "data": {
                        "type": "array",
                        "description": "Hierarchical array of analytical method concepts with notation codes",
                        "items": {
                            "$ref": "#/components/schemas/AnalyticalMethodsConcept"
                        }
                    }
                }
            },
            "AnalyticalMethodsConcept": {
                "type": "object",
                "description": "A concept from the Analytical Methods for Geochemistry and Cosmochemistry vocabulary, extending the base keyword concept with a notation code",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uri",
                        "description": "Unique identifier (URI) for the concept",
                        "example": "https://w3id.org/geochem/1.0/analyticalmethod/massspectrometry"
                    },
                    "text": {
                        "type": "string",
                        "description": "Preferred label for the concept",
                        "example": "Atomic Absorption Spectroscopy"
                    },
                    "language": {
                        "type": "string",
                        "description": "Language code of the concept label",
                        "example": "en"
                    },
                    "scheme": {
                        "type": "string",
                        "description": "Name of the vocabulary scheme",
                        "example": "Analytical Methods for Geochemistry and Cosmochemistry"
                    },
                    "schemeURI": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI of the vocabulary scheme",
                        "example": "https://w3id.org/geochem/1.0/analyticalmethod/method"
                    },
                    "notation": {
                        "type": "string",
                        "description": "Notation code for the concept (e.g. a short identifier). Always present; empty string when no notation is defined in the vocabulary.",
                        "example": "AAS"
                    },
                    "description": {
                        "type": "string",
                        "description": "Definition or description of the concept",
                        "example": "A technique used to determine the concentration of a specific metal element in a sample."
                    },
                    "children": {
                        "type": "array",
                        "description": "Child concepts in the hierarchy",
                        "items": {
                            "$ref": "#/components/schemas/AnalyticalMethodsConcept"
                        }
                    }
                },
                "required": ["id", "text", "notation", "language", "scheme", "schemeURI", "description", "children"]
            },
            "GcmdKeywordConcept": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uri",
                        "description": "Unique identifier (URI) for the concept",
                        "example": "https://gcmd.earthdata.nasa.gov/kms/concept/1eb0ea0a-312c-4d74-8d42-6f1ad758f999"
                    },
                    "text": {
                        "type": "string",
                        "description": "Preferred label for the concept",
                        "example": "EARTH SCIENCE"
                    },
                    "language": {
                        "type": "string",
                        "description": "Language code of the concept label",
                        "example": "en"
                    },
                    "scheme": {
                        "type": "string",
                        "description": "Name of the vocabulary scheme",
                        "example": "NASA/GCMD Earth Science Keywords"
                    },
                    "schemeURI": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI of the vocabulary scheme",
                        "example": "https://gcmd.earthdata.nasa.gov/kms/concepts/concept_scheme/sciencekeywords"
                    },
                    "description": {
                        "type": "string",
                        "description": "Definition or description of the concept",
                        "example": "any of various sciences, as geography, geology, or meteorology, that deal with the earth, its composition, or any of its changing aspects."
                    },
                    "children": {
                        "type": "array",
                        "description": "Child concepts in the hierarchy",
                        "items": {
                            "$ref": "#/components/schemas/GcmdKeywordConcept"
                        }
                    }
                },
                "required": ["id", "text", "language", "scheme", "schemeURI", "description", "children"]
            },
            "Pid4instInstruments": {
                "type": "object",
                "description": "PID4INST instruments vocabulary from b2inst (EUDAT instrument registry)",
                "properties": {
                    "lastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the vocabulary was last updated",
                        "example": "2025-10-15T14:30:00Z"
                    },
                    "total": {
                        "type": "integer",
                        "description": "Total number of instruments in the vocabulary",
                        "example": 1250
                    },
                    "data": {
                        "type": "array",
                        "description": "Array of instrument records from b2inst",
                        "items": {
                            "$ref": "#/components/schemas/Pid4instInstrument"
                        }
                    }
                },
                "required": ["lastUpdated", "total", "data"]
            },
            "Pid4instInstrument": {
                "type": "object",
                "description": "A single instrument record from the b2inst PID registry. Fields are flattened from the original b2inst API response — nested objects are reduced to their name strings for simpler consumption.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Internal b2inst record ID (string-cast)",
                        "example": "123"
                    },
                    "pid": {
                        "type": "string",
                        "description": "Persistent Identifier (Handle PID) of the instrument",
                        "example": "21.T11998/0000-001A-3905-F"
                    },
                    "pidType": {
                        "type": "string",
                        "description": "Type of the persistent identifier",
                        "example": "Handle"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name or title of the instrument",
                        "example": "CTD Profiler"
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the instrument (empty string if not available)",
                        "example": "Conductivity-Temperature-Depth profiler for oceanographic measurements"
                    },
                    "landingPage": {
                        "type": "string",
                        "description": "URL to the landing page of the instrument in b2inst (empty string if not available)",
                        "example": "https://b2inst.gwdg.de/records/123"
                    },
                    "owners": {
                        "type": "array",
                        "description": "Names of organizations or persons owning the instrument",
                        "items": {
                            "type": "string",
                            "example": "GFZ Helmholtz Centre Potsdam"
                        }
                    },
                    "manufacturers": {
                        "type": "array",
                        "description": "Names of manufacturers of the instrument",
                        "items": {
                            "type": "string",
                            "example": "Sea-Bird Electronics"
                        }
                    },
                    "model": {
                        "type": ["string", "null"],
                        "description": "Model name of the instrument, or null if not available",
                        "example": "SBE 911plus"
                    },
                    "instrumentTypes": {
                        "type": "array",
                        "description": "Classification type names of the instrument",
                        "items": {
                            "type": "string",
                            "example": "CTD"
                        }
                    },
                    "measuredVariables": {
                        "type": "array",
                        "description": "Variables measured by the instrument",
                        "items": {
                            "type": "string",
                            "example": "Conductivity"
                        }
                    }
                },
                "required": ["id", "pid", "pidType", "name"]
            },
            "ThesauriAvailability": {
                "type": "object",
                "description": "Availability status of thesauri vocabularies, keyed by thesaurus type",
                "additionalProperties": {
                    "type": "object",
                    "properties": {
                        "available": {
                            "type": "boolean",
                            "description": "Whether this thesaurus is enabled",
                            "example": true
                        },
                        "displayName": {
                            "type": "string",
                            "description": "Human-readable name of the thesaurus",
                            "example": "GCMD Science Keywords"
                        }
                    },
                    "required": ["available", "displayName"]
                },
                "example": {
                    "science_keywords": {
                        "available": true,
                        "displayName": "GCMD Science Keywords"
                    },
                    "platforms": {
                        "available": true,
                        "displayName": "GCMD Platforms"
                    },
                    "instruments": {
                        "available": true,
                        "displayName": "GCMD Instruments"
                    },
                    "chronostratigraphy": {
                        "available": true,
                        "displayName": "ICS Chronostratigraphy"
                    },
                    "gemet": {
                        "available": true,
                        "displayName": "GEMET Thesaurus"
                    }
                }
            },
            "PidAvailability": {
                "type": "object",
                "description": "Availability status of PID registries, keyed by registry type",
                "additionalProperties": {
                    "type": "object",
                    "properties": {
                        "available": {
                            "type": "boolean",
                            "description": "Whether this PID registry is enabled",
                            "example": true
                        },
                        "displayName": {
                            "type": "string",
                            "description": "Human-readable name of the PID registry",
                            "example": "PID4INST (b2inst)"
                        }
                    },
                    "required": ["available", "displayName"]
                },
                "example": {
                    "pid4inst": {
                        "available": true,
                        "displayName": "PID4INST (b2inst)"
                    },
                    "ror": {
                        "available": true,
                        "displayName": "ROR (Research Organization Registry)"
                    }
                }
            },
            "RorAffiliations": {
                "type": "object",
                "description": "ROR affiliations data with metadata wrapper",
                "properties": {
                    "lastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "ISO 8601 timestamp of when the data was last fetched",
                        "example": "2026-03-05T12:00:00+00:00"
                    },
                    "total": {
                        "type": "integer",
                        "description": "Total number of organizations in the dataset",
                        "example": 109876
                    },
                    "data": {
                        "type": "array",
                        "description": "Array of ROR organization entries",
                        "items": {
                            "type": "object",
                            "properties": {
                                "prefLabel": {
                                    "type": "string",
                                    "description": "Preferred display name of the organization",
                                    "example": "Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences"
                                },
                                "rorId": {
                                    "type": "string",
                                    "description": "ROR identifier URL",
                                    "example": "https://ror.org/04z8jg394"
                                },
                                "otherLabel": {
                                    "type": "array",
                                    "description": "Alternative names, acronyms, and search terms",
                                    "items": {
                                        "type": "string"
                                    },
                                    "example": ["GFZ", "Deutsches GeoForschungsZentrum"]
                                }
                            },
                            "required": ["prefLabel", "rorId", "otherLabel"]
                        }
                    }
                },
                "required": ["lastUpdated", "total", "data"]
            },
            "RelationType": {
                "type": "object",
                "description": "A DataCite relationType value used for Related Identifiers (e.g. Cites, IsSupplementTo)",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "Human-readable name of the relation type",
                        "example": "Cites"
                    },
                    "slug": {
                        "type": "string",
                        "description": "Machine-readable slug matching the DataCite schema value",
                        "example": "Cites"
                    }
                },
                "required": ["id", "name", "slug"]
            },
            "IdentifierType": {
                "type": "object",
                "description": "A DataCite relatedIdentifierType value (e.g. DOI, URL, Handle) with optional validation and detection regex patterns",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "Human-readable name of the identifier type",
                        "example": "DOI"
                    },
                    "slug": {
                        "type": "string",
                        "description": "Machine-readable slug matching the DataCite schema value",
                        "example": "DOI"
                    },
                    "patterns": {
                        "type": "object",
                        "description": "Grouped regex patterns for this identifier type",
                        "properties": {
                            "validation": {
                                "type": "array",
                                "description": "Regex patterns to validate whether a given string is a valid identifier of this type",
                                "items": {
                                    "$ref": "#/components/schemas/IdentifierTypePattern"
                                }
                            },
                            "detection": {
                                "type": "array",
                                "description": "Regex patterns to auto-detect this identifier type from a raw input string",
                                "items": {
                                    "$ref": "#/components/schemas/IdentifierTypePattern"
                                }
                            }
                        },
                        "required": ["validation", "detection"]
                    }
                },
                "required": ["id", "name", "slug", "patterns"]
            },
            "IdentifierTypePattern": {
                "type": "object",
                "description": "A single regex pattern for validating or detecting an identifier type",
                "properties": {
                    "pattern": {
                        "type": "string",
                        "description": "JavaScript-compatible regex pattern (without delimiters)",
                        "example": "^10\\.\\d{4,}\\/\\S+$"
                    },
                    "priority": {
                        "type": "integer",
                        "description": "Priority for ordering patterns (higher = checked first)",
                        "minimum": 0,
                        "maximum": 100,
                        "example": 10
                    }
                },
                "required": ["pattern", "priority"]
            }
        }
    }
}
