{
  "openapi": "3.1.0",
  "info": {
    "title": "ERNIE API",
    "version": "0.2.0",
    "description": "API for the ERNIE. A metadata editor for reviewers of research data at GFZ Helmholtz Centre for Geosciences.",
    "termsOfService": "https://env.rz-vm182.gfz.de/ernie/legal-notice",
    "contact": {
      "name": "Holger Ehrmann",
      "url": "https://www.gfz.de/staff/holger.ehrmann/sec51",
      "email": "ehrmann@gfz.de"
    },
    "license": {
      "name": "GPLv3",
      "url": "https://opensource.org/licenses/GPL-3.0"
    }
  },
  "servers": [
    {
      "url": "https://env.rz-vm182.gfz.de/ernie",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Editor Configuration"
    }
  ],
  "paths": {
    "/api/v1/resource-types/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List resource types enabled for ELMO",
        "description": "Returns all resource types that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of resource types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ElmoResourceType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/title-types/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List title types enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of title types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TitleType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all title types that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/licenses/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List licenses enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/License"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all licenses that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/languages/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List languages enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all languages that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/roles/authors/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List author roles active for ELMO",
        "description": "Returns all author roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roles/contributor-persons/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List contributor person roles active for ELMO",
        "description": "Returns all contributor person roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roles/contributor-institutions/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List contributor institution roles active for ELMO",
        "description": "Returns all contributor institution roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ElmoApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key required to access the ELMO-specific endpoints. The key may be sent in the `X-API-Key` header or as the `api_key` query parameter."
      }
    },
    "schemas": {
      "ElmoResourceType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "TitleType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      }
    }
  }
}
