{
  "openapi": "3.1.0",
  "info": {
    "title": "ERNIE API",
    "version": "0.2.0",
    "description": "API for the ERNIE. A metadata editor for reviewers of research data at GFZ Helmholtz Centre for Geosciences.",
    "termsOfService": "https://env.rz-vm182.gfz.de/ernie/legal-notice",
    "contact": {
      "name": "Holger Ehrmann",
      "url": "https://www.gfz.de/staff/holger.ehrmann/sec51",
      "email": "ehrmann@gfz.de"
    },
    "license": {
      "name": "GPLv3",
      "url": "https://opensource.org/licenses/GPL-3.0"
    }
  },
  "servers": [
    {
      "url": "https://env.rz-vm182.gfz.de/ernie",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Editor Configuration"
    },
    {
      "name": "Vocabularies"
    }
  ],
  "paths": {
    "/api/v1/resource-types/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List resource types enabled for ELMO",
        "description": "Returns all resource types that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of resource types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ElmoResourceType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/title-types/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List title types enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of title types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TitleType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all title types that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/licenses/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List licenses enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/License"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all licenses that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/languages/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List languages enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns all languages that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ]
      }
    },
    "/api/v1/roles/authors/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List author roles active for ELMO",
        "description": "Returns all author roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roles/contributor-persons/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List contributor person roles active for ELMO",
        "description": "Returns all contributor person roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roles/contributor-institutions/elmo": {
      "get": {
        "tags": [
          "Editor Configuration"
        ],
        "summary": "List contributor institution roles active for ELMO",
        "description": "Returns all contributor institution roles that are active for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vocabularies/gcmd-science-keywords": {
      "get": {
        "tags": [
          "Vocabularies"
        ],
        "summary": "Get GCMD Science Keywords vocabulary",
        "description": "Returns the complete GCMD (Global Change Master Directory) Science Keywords vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "GCMD Science Keywords vocabulary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GcmdScienceKeywords"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Vocabulary file not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Vocabulary file not found. Please run: php artisan get-gcmd-science-keywords"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vocabularies/gcmd-platforms": {
      "get": {
        "tags": [
          "Vocabularies"
        ],
        "summary": "Get GCMD Platforms vocabulary",
        "description": "Returns the complete GCMD (Global Change Master Directory) Platforms vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "GCMD Platforms vocabulary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GcmdPlatforms"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Vocabulary file not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Vocabulary file not found. Please run: php artisan get-gcmd-platforms"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vocabularies/gcmd-instruments": {
      "get": {
        "tags": [
          "Vocabularies"
        ],
        "summary": "Get GCMD Instruments vocabulary",
        "description": "Returns the complete GCMD (Global Change Master Directory) Instruments vocabulary as a hierarchical JSON structure. The vocabulary is loaded from NASA's KMS (Keyword Management System) API. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "GCMD Instruments vocabulary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GcmdInstruments"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Vocabulary file not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Vocabulary file not found. Please run: php artisan get-gcmd-instruments"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/msl-vocabulary-url": {
      "get": {
        "tags": [
          "Vocabularies"
        ],
        "summary": "Get MSL Laboratories vocabulary URL",
        "description": "Returns the URL to the MSL (Multi-Scale Laboratories) vocabulary JSON file. This endpoint provides a centralized configuration point for both frontend and backend to access the same vocabulary source. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          {
            "ElmoApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "MSL vocabulary URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the MSL laboratories vocabulary JSON file",
                      "example": "https://raw.githubusercontent.com/UtrechtUniversity/msl_vocabularies/refs/heads/main/vocabularies/labs/laboratories.json"
                    }
                  },
                  "required": ["url"]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ElmoApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key required to access the ELMO-specific endpoints. The key may be sent in the `X-API-Key` header or as the `api_key` query parameter."
      }
    },
    "schemas": {
      "ElmoResourceType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "TitleType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "GcmdScienceKeywords": {
        "type": "object",
        "description": "GCMD Science Keywords from NASA Knowledge Management System",
        "properties": {
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the vocabulary was last updated",
            "example": "2025-10-08 11:54:31"
          },
          "data": {
            "type": "array",
            "description": "Hierarchical array of GCMD Science Keywords",
            "items": {
              "$ref": "#/components/schemas/GcmdKeywordConcept"
            }
          }
        }
      },
      "GcmdPlatforms": {
        "type": "object",
        "description": "GCMD Platforms from NASA Knowledge Management System",
        "properties": {
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the vocabulary was last updated",
            "example": "2025-10-08 12:13:45"
          },
          "data": {
            "type": "array",
            "description": "Hierarchical array of GCMD Platforms",
            "items": {
              "$ref": "#/components/schemas/GcmdKeywordConcept"
            }
          }
        }
      },
      "GcmdInstruments": {
        "type": "object",
        "description": "GCMD Instruments from NASA Knowledge Management System",
        "properties": {
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the vocabulary was last updated",
            "example": "2025-10-08 12:22:38"
          },
          "data": {
            "type": "array",
            "description": "Hierarchical array of GCMD Instruments",
            "items": {
              "$ref": "#/components/schemas/GcmdKeywordConcept"
            }
          }
        }
      },
      "GcmdKeywordConcept": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uri",
            "description": "Unique identifier (URI) for the concept",
            "example": "https://gcmd.earthdata.nasa.gov/kms/concept/1eb0ea0a-312c-4d74-8d42-6f1ad758f999"
          },
          "text": {
            "type": "string",
            "description": "Preferred label for the concept",
            "example": "EARTH SCIENCE"
          },
          "language": {
            "type": "string",
            "description": "Language code of the concept label",
            "example": "en"
          },
          "scheme": {
            "type": "string",
            "description": "Name of the vocabulary scheme",
            "example": "NASA/GCMD Earth Science Keywords"
          },
          "schemeURI": {
            "type": "string",
            "format": "uri",
            "description": "URI of the vocabulary scheme",
            "example": "https://gcmd.earthdata.nasa.gov/kms/concepts/concept_scheme/sciencekeywords"
          },
          "description": {
            "type": "string",
            "description": "Definition or description of the concept",
            "example": "any of various sciences, as geography, geology, or meteorology, that deal with the earth, its composition, or any of its changing aspects."
          },
          "children": {
            "type": "array",
            "description": "Child concepts in the hierarchy",
            "items": {
              "$ref": "#/components/schemas/GcmdKeywordConcept"
            }
          }
        },
        "required": ["id", "text", "language", "scheme", "schemeURI", "description", "children"]
      }
    }
  }
}
