{
  "openapi": "3.1.0",
  "info": {
    "title": "Ernie API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://env.rz-vm182.gfz.de/ernie",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Editor Configuration"
    }
  ],
  "paths": {
    "/api/v1/resource-types": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List all resource types",
        "responses": {
          "200": {
            "description": "List of resource types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ElmoResourceType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/resource-types/elmo": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List resource types enabled for ELMO",
        "description": "Returns all resource types that are enabled for ELMO. Provide the API key via the `X-API-Key` header or the `api_key` query parameter.",
        "security": [
          { "ElmoApiKey": [] }
        ],
        "responses": {
          "200": {
            "description": "List of resource types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ElmoResourceType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/resource-types/ernie": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List active resource types for Ernie",
        "responses": {
          "200": {
            "description": "List of resource types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ElmoResourceType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/title-types": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List all title types",
        "responses": {
          "200": {
            "description": "List of title types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TitleType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/title-types/elmo": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List title types enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of title types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TitleType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/title-types/ernie": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List active title types for Ernie",
        "responses": {
          "200": {
            "description": "List of title types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TitleType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/licenses": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List all licenses",
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/License" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/licenses/elmo": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List licenses enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/License" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/licenses/ernie": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List active licenses for Ernie",
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/License" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/languages": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List all languages",
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Language" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/languages/elmo": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List languages enabled for ELMO",
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Language" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/languages/ernie": {
      "get": {
        "tags": ["Editor Configuration"],
        "summary": "List active languages for Ernie",
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Language" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ElmoApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key required to access the ELMO resource types endpoint. The key may be sent in the `X-API-Key` header or as the `api_key` query parameter."
      }
    },
    "schemas": {
      "ElmoResourceType": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "readOnly": true },
          "name": { "type": "string" }
        }
      },
      "TitleType": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "readOnly": true },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "readOnly": true },
          "identifier": { "type": "string" },
          "name": { "type": "string" }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "readOnly": true },
          "code": { "type": "string" },
          "name": { "type": "string" }
        }
      }
    }
  }
}
