includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
    excludePaths:
        - database/migrations_backup
    level: 8
